<div class="login">
  {{loggedIn$ | async}}
  <div class="login__box">
    <h1 class="login__box__title">TEA</h1>
    <form class="login__box__form" [formGroup]="loginForm">
      <mat-form-field appearance="outline" class="login__box__form__username">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="outline" class="login__box__form__password">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <button [disabled]="!loginButtonActive" (click)="login()" class="login__box__form__button" mat-raised-button color="accent">Login</button>
    </form>
  </div>
</div>
