<mat-nav-list class="admin-sidebar">
  <a mat-list-item routerLink="/admin/posts" class="admin-sidebar__item">Posts</a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/admin/stats" class="admin-sidebar__item">Stats</a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/admin/tags" class="admin-sidebar__item">Tags</a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/admin/users" class="admin-sidebar__item">Users</a>
  <mat-divider></mat-divider>
</mat-nav-list>
